@keyframes containerIntro {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  85% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  @media (max-width: 500px) {
    width: 80%;
    aspect-ratio: 1;

    margin: 1em;
    transition: all 0.3s ease;
    border-radius: 10px;
    background: #eeeeee;
    color: #0f044c;

    display: flex;
    flex-direction: column;
    justify-content: flex-start space-around;
    align-items: center;

    transform-origin: center;

    .title {
      font-size: 0.8em;
      width: 90%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #0f044c;
    }

    .link {
      text-decoration: none;
      color: #787a91;
      transition: all 0.3s ease;

      &:hover {
        color: #0f044c;
        transform: translateY(-5px) scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.1) translateY(-15px);
      box-shadow: 0px 0 50px rgb(24, 24, 24);

      cursor: default;
    }
  }

  width: 20%;
  aspect-ratio: 1;

  margin: 1em;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: #eeeeee;
  color: #0f044c;

  display: flex;
  flex-direction: column;
  justify-content: flex-start space-around;
  align-items: center;

  transform-origin: center;

  .title {
    font-size: 0.4em;
    width: 90%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #0f044c;
    @media (max-width: 500px) {
      font-size: 1em;
    }
  }
  .description {
    font-size: 0.3em;
    width: 90%;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 500px) {
      font-size: 0.8em;
      -webkit-line-clamp: 5;
    }
  }

  .link {
    text-decoration: none;
    color: #787a91;
    transition: all 0.3s ease;
    font-size: 00.3em;
    margin-top: auto;
    margin-bottom: 1em;

    &:hover {
      color: #0f044c;
      transform: translateY(-5px) scale(1.1);
    }
    @media (max-width: 500px) {
      font-size: 0.8em;
      -webkit-line-clamp: 5;
    }
  }

  &:hover {
    transform: scale(1.1) translateY(-15px);
    box-shadow: 0px 0 50px rgb(24, 24, 24);

    cursor: default;
  }

  animation: containerIntro 0.5s ease-in-out;
}
