@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.5em;
  * {
    max-width: 80vw;
  }
}
pre {
  background-color: rgba(0, 0, 0, 0.39);
  border: 2px solid black;
  text-align: left;
  font-size: 0.5em;
  font-weight: 1;
  width: 80vw;
  font-family: "Ubuntu Mono", monospace;
}

p {
  max-width: 80vw;
  text-align: left;
  width: 80vw;
  font-size: 0.5em;
}

.link {
  text-decoration: none;
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  text-align: center;
  transform-origin: center;
  &:hover {
    font-size: 1.1em;
    text-decoration: underline;
  }
}

img {
  align-self: center;
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #eeeeee;
}
